/* FILE: editor-block/__index.scss */

$selector_editor_wrapper: 'div.editor-styles-wrapper';
$selector_editor_title: '.editor-post-title';

$selectors_margin_bottom: (
	'p',
	'ol', 'ul', 'dl',
	'hr',
	'form',
	'blockquote',
	'table',
	'figure',
	'iframe',
	'address',
	'pre',
);

$selectors_button: (
	'.button',
	'.wp-block-button__link',
	'.wp-block-search__button',
);

$important_contexts: append( $important_contexts, 'modifier_font_size' );
$important_contexts: append( $important_contexts, 'modifier_line_height' );
$important_contexts: append( $important_contexts, 'modifier_width' );


@import 'ui';
@import 'post-title';

@import 'typography';
@import 'base';
@import 'accessibility';

#{ $selector_editor_wrapper } {
	@import '../global/typography/base';
	@import '../global/typography/headings';
	@import '../global/elements/base';
	@import '../global/elements/links';
	@import '../global/elements/quote';
	@import '../global/elements/table';
	@import '../global/form/button';
	@import '../global/modifiers/_index';

	@import '../blocks/_index';
}

@import 'blocks/_index'; // Already contains extenders.
