/* FILE: editor-block/_post-title.scss */

#{ $selector_editor_title } {

	@include media( map_get( $breakpoint, 's' ) ) {
		font-size: var(--typography_size_html);
	}

	& &__block,
	&__block.wp-block,
	&__block.wp-block:last-child {
		max-width: $max_width_content;
		padding: 0;
		margin-top: 2em !important;
		margin-bottom: 2em !important;
		font-size: inherit;
	}

	& &__input {
		max-width: $max_width_entry_content;
		padding-top: 0;
		padding-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		font-family: var(--typography_font_headings);
		font-size: calc( var(--typography_heading_size_multiplier) * var(--typography_heading_size_1) );
		font-weight: 400;
		line-height: 1.25;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: var(--letter_spacing);

		&,
		&:focus {
			color: var(--color_content_headings);
		}

	}

	& &__input:focus,
	.is-selected .editor-post-title__input {
		padding-top: .25em;
		text-transform: none;
		letter-spacing: 0;
	}

}
