/* FILE: editor-block/_typography.scss */

body #{ $selector_editor_wrapper } {
	font-family: var(--typography_font_global);
	font-size: var(--typography_font_size_base);
	line-height: $golden;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
}

// @see global/typography/_headings.scss
h2, h3, h4, h5, h6 {

	&.wp-block:not(:first-child) {
		margin-top: calc( var(--white_space) / 2 );
	}

}

.editing-block-area-site-footer #{ $selector_editor_wrapper } {
	font-size: var(--typography_size_footer);
}
