/* FILE: editor-block/_typography.scss */

html #{ $selector_editor_wrapper } {
	font-family: var(--typography_font_global);
	font-size: var(--typography_font_size_base);
	line-height: var(--typography_line_height);
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
}

// @see global/typography/_headings.scss
h2, h3, h4, h5, h6 {

	&.wp-block:not(:first-child) {
		margin-top: var(--heading_space);
	}

}

// Block previews in patterns and styles.

	body.editor-styles-wrapper {
		// In WP 5.9 we can not control typography via external font sources, such as Google Fonts.
		// So we need to override those here, unfortunately...
		--typography_font_global: #{ (
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen-Sans,
			Ubuntu,
			Cantarell,
			'Helvetica Neue',
			sans-serif
		) };
		--typography_font_headings: var(--typography_font_global);
		--typography_font_alt:      var(--typography_font_global);
	}
