/* FILE: editor-block/_typography.scss */

.has-root-font-family,
.has-global-font-family,
body #{ $selector_editor_wrapper } {
	font-family: var(--typography_font_global);
}

.has-headings-font-family {
	font-family: var(--typography_font_headings);
}

.has-site-title-font-family {
	font-family: var(--typography_font_site_title);
}

.has-inherited-font-family,
.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
}

body #{ $selector_editor_wrapper } {
	line-height: $golden;

	@include media( map_get( $breakpoint, 's' ) ) {
		font-size: var(--typography_size_html);
	}

}

// @see global/typography/_headings.scss
h2, h3, h4, h5, h6 {

	&.wp-block:not(:first-child) {
		margin-top: calc( var(--white_space) / 2 );
	}

}
