/* FILE: blocks/_columns.scss */

.wp-block-column {

	&s {
		margin-bottom: 0;

		&.alignfull {
			padding-left: $golden +em;
			padding-right: $golden +em;
		}

		&.has-background {
			padding-bottom: 0;
		}

	}

	&:last-child {
		margin-bottom: $golden +em;
	}

	&::after {
		content: '';
		clear: both;
		display: table;
		table-layout: fixed;
	}

	&.is-style-drop-shadow,
	&.is-style-inner-shadow {
		padding: $golden +em;
	}

}
