/* FILE: blocks/_columns.scss */

.wp-block-column {

	&s {
		margin-bottom: 0;

		&.alignfull {
			padding-left: $golden +em;
			padding-right: $golden +em;
		}

		&.has-background {
			padding: 4%;
			padding-bottom: calc( 4% - #{ $golden +em } );
		}

		&.is-style-no-gaps {
			padding: 0;

			.wp-block-column {
				margin: 0;
			}

		}

	}

	&:last-child {
		margin-bottom: $golden +em;
	}

	&:empty {

		&,
		&:last-child {
			margin-bottom: 0;
		}

	}

	&::after {
		content: '';
		clear: both;
		display: table;
		table-layout: fixed;
	}

	&,
	&s {

		&.is-style-drop-shadow,
		&.is-style-inner-shadow {
			padding: $golden +em;
		}

	}

}
