/* FILE: blocks/_cover.scss */

.wp-block-cover {
	height: auto;
	padding: calc( var(--typography_font_size_base) * #{ $golden } ); // Simulating rem unit for block editor.
	color: #fff;

	&[class*="is-position-top-"] {
		padding-top: 0;
	}

	&[class*="is-position-bottom-"] {
		padding-bottom: 0;
	}

	.wp-block-cover__inner-container {
		width: 88%;
		max-width: var(--layout_width_entry_content);

		&::after {
			content: '';
			clear: both;
			display: table;
			table-layout: fixed;
		}

	}

		&.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
			width: 88%;
		}

	&__gradient-background {
		margin-bottom: 0;
	}

	&.is-style-scale-image {
		background-repeat: no-repeat;
		background-size: contain;

		img.wp-block-cover__image-background {
			object-fit: contain;
		}

	}

	&::after {
		content: '';
		clear: both;
		display: table;
		table-layout: fixed;
	}

}
