/* FILE: blocks/_gallery.scss */

.wp-block-gallery:not(.alignfull),
.blocks-gallery-grid {
	max-width: 100%;
}

.blocks-gallery {

	&-grid {
		width: 100%;
	}

	&-caption {
		margin-left: auto;
		margin-right: auto;
	}

}

.gallery,
.wp-block-gallery {

	.site & figure figcaption {
		padding: 4%;
		background: rgba( #000, .66 );
		color: #fff;
		backdrop-filter: blur( 10px );
	}

}

.is-style-hide-caption figcaption {
	display:none;
}

.wp-block-gallery.wp-block-gallery.is-style-no-gaps .blocks-gallery-item {
	margin: 0;
}
