/* FILE: blocks/_group.scss */

.wp-block-group {

	&__inner-container {
		max-width: var(--layout_width_entry_content);
		margin-left: auto;
		margin-right: auto;

		&::after {
			content: '';
			clear: both;
			display: table;
			table-layout: fixed;
		}

	}

}
