/* FILE: blocks/_table.scss */

.is-style-stripes table,
table.is-style-stripes,
.wp-block-table.is-style-stripes {
	border-width: 0;
}

.wp-block-table {

	th,
	td {
		border-color: inherit;
	}

	&.is-style-stripes tbody tr:nth-child(odd) {
		background: rgba( #000, .07 );
	}

	thead {
		border-bottom: 3px solid;
	}

	tfoot {
		border-top: 3px solid;
	}

}
