/* FILE: global/menu/_active-menu-item.scss */

.main-navigation {

	.current-menu-item > a,
	.current-menu-ancestor > a {
		font-weight: 900;
		font-size: 1.333em;
		line-height: $golden / 1.333;
	}

}
