/* FILE: global/menu/_primary-sub-menu.scss */

.main-navigation {
	text-transform: lowercase;

	.sub-menu {
		display: none;
		position: absolute;
		width: auto;
		min-width: 16em;
		#{$left}: -2em;
		top: 100%;
		padding: 0 2em calc( 6vh - #{ $golden_minor +em } );
		background: var(--color_navigation_background);
		color: var(--color_navigation_text);
		border-color: var(--color_navigation_border);
		border-bottom-#{$right}-radius: 6vh;
		z-index: 1;

		.sub-menu {
			#{$left}: 100%;
			top: calc( -6vh + #{ $golden_minor +em } );
			padding-top: calc( 6vh - #{ $golden_minor +em } );
			box-shadow: 0 1em 2em rgba( #000, .15 );
		}

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			#{$left}: -6vh;
			padding-left: 6vh;
			padding-right: 6vh;

			a {
				color: var(--color_navigation_link);
			}

		}

	}

	.menu-item-has-children {
		position: relative;

		// Inaccessible menu fallback indicating submenu.
		&:not([aria-haspopup]):not(.menu-item-is-depth-3) {

			> a {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&::after {
					content: '\25bc';
					padding-#{$left}: 1em;
					margin-#{$left}: auto;
					font-size: .5em;
				}

			}

			.menu-item-has-children:not(.menu-item-is-depth-3) > a::after {
				@if 'left' == $left {
					content: '\25b6';
				} @else {
					content: '\25C0';
				}
			}

		}

		&:hover > .sub-menu {

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				display: block;
			}

		}

	}

}

@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {

	.site {
		// Unfortunately, this disables using any sticky positioning on the site...
		overflow-x: hidden;
	}

	.menu-primary > li > .sub-menu {

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 200vw;
			height: 100%;
			top: 0;
			background-color: inherit;
			z-index: -1;
		}

		&::after {
			#{$right}: 0;
			border-radius: inherit;
		}

		&::before {
			margin-#{$left}: -100vw;
			background-color: var(--color_body_border);
			height: calc( 100% + var(--border_body_width) );
		}

	}

}
