/* FILE: global/header/_base.scss */

.site-header {
	position: relative;
	background: var(--color_header_background);
	color: var(--color_header_text);
	z-index: 998;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		font-size: var(--typography_size_header);
	}

	&-section {
		position: relative;
		padding: 0 6vw;
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		min-width: 240px;
		max-width: var(--max_width_header_content);
		margin-left: auto;
		margin-right: auto;

		> :last-child {
			margin-#{$left}: auto;

			.has-site-title-last & {
				margin-#{$left}: 0;
			}

		}

	}

	a {
		color: inherit;
	}

	// Sticky header.
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		&-content {
			align-items: center;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.has-scrolled:not(.has-navigation-toggled) & {
			--color_header_background: var(--color_body_background);

			position: sticky;
			top: 0;
			transform: translateY( -100% );
			transition: transform .3s;
		}

			.has-scrolled[class*="-header-overlaid"]:not(.has-navigation-toggled) & {
				position: fixed;
			}

			.has-scrolled[class*="-header-overlaid-light"]:not(.has-navigation-toggled) & {
				--color_header_background: var(--color_overlaid_header_light_background);
			}

			.has-scrolled[class*="-header-overlaid-dark"]:not(.has-navigation-toggled) & {
				--color_header_background: var(--color_overlaid_header_dark_background);
			}

		.has-scrolled-up:not(.has-navigation-toggled) & {
			box-shadow: var(--drop_shadow);
			transform: translateY( 0 );
		}

	}

}

// Overlaid header.

	body[class*="-header-overlaid"] {
		position: relative;

		.site-header {
			--color_header_text: var(--color_overlaid_header_dark);

			position: absolute;
			width: 100%;
			#{$left}: 0;
			top: 0;
		}

	}

	body[class*="-header-overlaid-light"] .site-header {
		--color_header_text: var(--color_overlaid_header_light);
	}
