/* FILE: global/header/_base.scss */

.site-header {
	position: relative;
	font-size: var(--typography_size_header);
	z-index: 998;

	&-section {
		position: relative;
		padding: 0 6vw;
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		min-width: 240px;
		max-width: var(--max_width_header_content);
		margin-left: auto;
		margin-right: auto;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			flex-wrap: nowrap;
		}

	}

	a {
		color: inherit;
	}

	// Sticky header.
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		&-content {
			align-items: center;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.has-scrolled:not(.has-navigation-toggled) & {
			position: sticky;
			top: 0;
			background: var(--color_body_background);
			transform: translateY( -100% );
			transition: transform .6s;
		}

		.has-scrolled-up:not(.has-navigation-toggled) & {
			box-shadow: 0 1em 2em rgba( #000, .15 );
			transform: translateY( 0 );
		}

	}

}

// Overlaid header.
@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {

	body[class*="-header-overlaid"] {
		position: relative;

		.site-header {
			position: absolute;
			width: 100%;
			#{$left}: 0;
			top: 0;
			color: #000;
		}

	}

	body[class*="-header-overlaid-light"] .site-header {
		color: #fff;
	}

}
