/* FILE: global/header/_base.scss */

.site-header {
	position: relative;
	background: var(--color_header_background);
	color: var(--color_header_text);
	z-index: 998;

	.admin-bar & {
		@media screen and (max-width: 600px) {
			z-index: 99999;
		}
	}

	@include media( map_get( $breakpoint, 'xl' ) ) {
		font-size: var(--typography_size_header);
	}

	&-section {
		position: relative;
		padding: 0 6vw;
	}

	&-content {
		display: flex;
		align-items: flex-end;
		min-width: 240px;
		max-width: var(--max_width_header_content);
		margin-left: auto;
		margin-right: auto;

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			flex-wrap: wrap;
		}

		> :last-child {
			margin-#{$left}: auto;

			.has-site-title-last & {
				margin-#{$left}: 0;
			}

		}

	}

	a {
		color: inherit;
	}

	// Sticky header.
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		&-content {
			align-items: center;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.has-scrolled:not(.has-navigation-toggled) & {
			--color_header_background: var(--color_body_background);

			position: sticky;
			top: 0;
			transform: translateY( -100% );
			transition: transform .3s;

			.site-branding {
				display: none;
			}

		}

			.has-scrolled[class*="-header-overlaid"]:not(.has-navigation-toggled) & {
				position: fixed;
			}

			.has-scrolled[class*="-header-overlaid-light"]:not(.has-navigation-toggled) & {
				--color_header_background: var(--color_overlaid_header_light_background);
			}

			.has-scrolled[class*="-header-overlaid-dark"]:not(.has-navigation-toggled) & {
				--color_header_background: var(--color_overlaid_header_dark_background);
			}

		.has-scrolled-up:not(.has-navigation-toggled) & {
			box-shadow: var(--drop_shadow);
			transform: translateY( 0 );
		}

		.has-scrolled:not(.has-navigation-toggled) &-content > :last-child {
			margin-#{$left}: auto;
		}

	}

		.admin-bar.has-scrolled:not(.has-navigation-toggled) & {
			@media screen and (min-width: 601px) and (max-width: 782px) {
				top: 46px;
			}
		}
		.admin-bar.has-scrolled:not(.has-navigation-toggled) & {
			@media screen and (min-width: 783px) and (max-width: #{ map_get( $breakpoint, $mobile_menu_breakpoint ) +px }) {
				top: 32px;
			}
		}

	// Others.

		// Elementor has row control buttons above and outside the row container.
		// Those are getting covered with site header, rendering them inaccessible.
		// Fixing the issue here.
		.elementor-editor-active & {
			z-index: 0;
		}

}

// Overlaid header.

	body[class*="-header-overlaid"] {

		.site-header {
			--color_header_text: var(--color_overlaid_header_dark);

			position: absolute;
			width: 100%;
			#{$left}: 0;
			top: 0;
			margin-top: var(--border_decorative_width);
		}

		&.admin-bar .site-header {
			@media screen and (max-width: 782px) {
				top: 46px;
			}
			@media screen and (min-width: 783px) {
				top: 32px;
			}
		}

	}

	body[class*="-header-overlaid-light"] .site-header {
		--color_header_text: var(--color_overlaid_header_light);
	}
