/* FILE: global/header/_site-branding.scss */

.site-branding {
	order: 10;
	display: flex;
	align-items: flex-end;
	padding: 0;
	margin-#{$left}: auto;
	color: var(--color_body_headings);

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		padding-top: 6vh;
		padding-bottom: 6vh;
	}

	&-text {
		line-height: 1.25;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			text-align: center;
		}

		.is-hidden-site-title & {
			// No accessibility here.
			// Just prevent the read as there is alt text in logo image.
			display: none;
		}

		.wp-custom-logo & {
			@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
				@include screen_reader_hiding();
			}
		}

	}

	a {
		text-decoration: none;

		.site & {
			color: inherit;
		}

	}

	body[class*="-header-overlaid"] & {
		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			color: inherit;
		}
	}

}

.site-title {
	display: inline-block;
	margin-bottom: 0;
	font-size: 1.777em;
	font-weight: 900;
	text-transform: lowercase;
	color: inherit;
	white-space: nowrap;
	vertical-align: top;

	@include media( map_get( $breakpoint, 'xxl' ) ) {
		font-size: 2.369em;
	}

}

.site-description {
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: var(--letter_spacing);
}

.custom-logo {
	width: auto;
	max-height: var(--custom_logo_height);

	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		margin-#{$right}: 0;
	}

	@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
		max-width: 33vw;
		max-height: 3em;
	}

	&-link {
		display: inline-block;

		+ .site-branding-text {
			margin-#{$left}: 2em;
			margin-#{$right}: 2em;
		}

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			order: 10;
		}

	}

}
