/* FILE: global/form/_button.scss */

#{ $selectors_button } {
	padding: ( $form_field_padding_vertical / $button_font_size * ( $golden / 1.25 ) ) 0;
	font-family: var(--typography_font_headings);
	font-size: $button_font_size +em;
	font-weight: 700;
	line-height: 1.25 / $button_font_size;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: var(--letter_spacing);
	background: var(--color_button_background);
	color: var(--color_button_text);
	border: 0 solid transparent;
	border-left-width: 1.5em / $button_font_size;
	border-right-width: 1.5em / $button_font_size;
	border-radius: 0;
	cursor: pointer;
	transition: box-shadow .3s, background .3s, border .3s;

	&:hover,
	&:focus {
		box-shadow: inset 0 #{ $form_field_padding_vertical / $button_font_size * $golden_major * -1 } 0;
	}

	&:focus {
		outline-color: var(--color_accent);
	}

}
