/* FILE: global/form/_search.scss */

form[role="search"],
.form-search,
.search-form {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;

	[type="search"],
	.search-field {
		width: 100%;
		min-width: 100px;
		margin: 0; // For Search Form block.
	}

	[type="submit"],
	.search-submit {
		padding-left: 1em;
		padding-right: 1em;
		margin-#{$left}: .25em;

		&:focus {
			outline-color: inherit;
		}

	}

	> label:not([for]) {
		flex: 1 1 auto;
		padding: 0;
	}

	.svg-icon {
		width: auto;
		height: 1.5em;
		margin: -.25em 0;
		vertical-align: middle;
	}

	&.has-submit-with-icon {

		[type="search"],
		.search-field {
			padding-#{$right}: 3em;
		}

		[type="submit"] {
			position: absolute;
			width: 3em;
			#{$right}: 0;
			bottom: 0;
			padding-#{$left}: 0;
			padding-#{$right}: 0;
			margin: 0;
			background: none;
			color: inherit;
			border: 1px solid transparent; // To match the form field height.
			box-shadow: none;
		}

	}

	.site-main > & {
		max-width: var(--layout_width_entry_content);
		margin: 0 auto var(--white_space);
	}

	.site-header-content > & {

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			width: 100%;
		}

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			margin-bottom: 6vh;
		}

	}

	.has-search-form-modal .site-header-content > & {
		width: auto;
		margin-bottom: 0;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			#{$left}: 50%;
			top: 50%;
			opacity: 0;
			z-index: -2;
			transition: opacity .1s;
		}

		[type="search"],
		.search-field {
			border-color: transparent;
		}

		&:not(:focus-within) {

			[type="search"],
			.search-field {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				min-width: 0;
				padding: 0;
				padding-#{$right}: 100%;
				opacity: 0;
				z-index: 2;
				cursor: pointer;
			}

			[type="submit"],
			.search-submit {
				position: relative;

				@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
					width: 5em;
					padding-top: 6vh;
					padding-bottom: 6vh;
					line-height: 1.25;
				}

				.svg-icon {
					height: 2em;
				}

			}

		}

		&:focus-within {
			position: fixed;
			left: calc( 50vw - var(--scrollbar_width) / 2 ); // No RTL needed here.
			top: 50vh;
			margin-#{$left}: 0;
			font-size: 1.5em;
			background: none;
			color: var(--color_search_text);
			transform: translateX(-50%) translateY(-50%); // No RTL needed here.
			z-index: 999; // Above mobile menu toggle button.

			@include media( map_get( $breakpoint, 'xl' ) ) {
				font-size: 2em;
			}

			&::before {
				width: calc( 100vw - var(--scrollbar_width) );
				height: 100vh;
				margin: -50vh calc( -50vw + ( var(--scrollbar_width) / 2 ) );
				background: var(--color_search_background);
				box-shadow: var(--drop_shadow);
				opacity: .98;
				cursor: zoom-out;
				backdrop-filter: blur( 10px );

				@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
					width: calc( 100vw - 12vh - var(--scrollbar_width) );
					height: calc( 100vh - 12vh );
					margin: calc( -50vh + 6vh ) calc( -50vw + 6vh + ( var(--scrollbar_width) / 2 ) );
				}

			}

			&::after {
				content: '\00d7'; // &times;
				position: absolute;
				#{$right}: 0;
				bottom: calc( 100% + .5em );
				width: 1.5em;
				font-size: calc( 2 * var(--typography_font_size_small) );
				text-align: center;
				border: 1px solid transparent;
				opacity: .33;
				z-index: -1;
				cursor: pointer;
			}

		}

		&:focus-within [type="search"],
		&:focus-within .search-field,
		[type="search"]:focus,
		.search-field:focus {
			width: 88vw;
			max-width: 88vw;
			padding-#{$left}: 1em;
			padding-#{$right}: 3em;
			border-bottom-color: currentColor;
			z-index: 0;
			cursor: text;

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				width: $ratio_maj * 100 +vw;
				max-width: $ratio_maj * 100 +vw;
			}

		}

	}

}

.wp-block-search {

	&:not(:last-child) {
		margin-bottom: calc( var(--typography_font_size_base) * #{ $ratio } );
	}

	&__label {
		margin-bottom: 0;
	}

}
