/* FILE: blocks.scss */

//
// Content styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.0.10
//

$left: left;
$right: right;

@import 'tools/_index';
@import 'setup/_index';

@import 'blocks/_index';
