/* FILE: content.scss */

//
// Content styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.0.8
//

$left: left;
$right: right;
$rtl_multiplier: 1; // For `translateX` transform, for example.

@import 'tools/_index';
@import 'setup/_index';

@import 'content/_index';
