/* FILE: customize-controls.scss */

//
// Customize controls styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

$left: left;
$right: right;

@import 'customize-controls/_index';
