/* FILE: customize-preview.scss */

//
// Theme customizer preview style fixes.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

.customize-partial-edit-shortcut {

	[data-customize-partial-type="nav_menu_instance"] &,
	.site-branding &,
	.page-media & {
		top: 50%;
		transform: translateY( -15px );
	}

	.site-branding-text & {
		top: 100%;
		margin-top: 6px;
		transform: translateY( 0 );
	}

	.page-media & {
		margin: 0 50px;
	}

	button {
		box-shadow: none !important;

		.site & {
			line-height: 1;
			background: #0085ba;
			border: 2px solid #fff;

			&:hover {
				border-color: #0085ba;
			}

		}

		.site-branding-text & {
			left: 0;

			[dir="rtl"] & {
				left: auto;
				right: 0;
			}

		}

		.site-description & {
			left: 32px;

			[dir="rtl"] & {
				left: auto;
				right: 32px;
			}

		}

	}

	.featured-posts-section & {
		left: 50%;
		top: 1em;
		z-index: 100;
	}

}

.site-branding,
.site-branding-text {
	position: relative;
}

.page-media.is-empty {
	margin-top: 0;

	&::after {
		display: none;
	}

}
