/* FILE: content/form/_post-password.scss */

.post-password-form {
	max-width: var(--layout_width_entry_content);
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	label,
	input {
		display: block;
		width: 100%;
		text-align: inherit;
	}

	label {
		margin-bottom: 1em;

		input {
			margin-top: $golden_minor + em;
		}

	}

}
