/* FILE: global/accessibility/_skip-links.scss */

.menu-skip-links {

	ul {
		position: absolute;
		#{$left}: 0;
		top: 0;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		white-space: nowrap;
	}

}

.entry .skip-link:focus {
	position: static !important;
}
