/* FILE: editor-block/blocks/_cover.scss */

#{ $selector_editor_wrapper } .wp-block-cover {

	.wp-block-cover__inner-container {
		max-width: none;
	}

		&.is-position-top-left,
		&.is-position-top-right,
		&.is-position-center-left,
		&.is-position-center-right,
		&.is-position-bottom-left,
		&.is-position-bottom-right {

			.wp-block-cover__inner-container {
				max-width: $max_width_entry_content;
			}

		}

	.wp-block:not(hr):not([data-align="wide"]):not([data-align="full"]):not([data-type*="column"]) {
		width: 100%;
		max-width: $max_width_entry_content;
	}

}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {

	> .wp-block-cover {

		&.has-background {
			padding-left: 0;
			padding-right: 0;
		}

		&:not([class*="is-position-"]) > .wp-block-cover__inner-container {
			width: 100%;
		}

	}

}

.wp-block-cover__inner-container > .wp-block:last-child {
	margin-bottom: 0;
}

.block-editor-block-preview__content .has-parallax {
	background-attachment: scroll;
}
