/* FILE: editor-block/blocks/_separator.scss */

#{ $selector_editor_wrapper } {
	--hr_width: calc( #{ $golden_minor } * var(--layout_width_entry_content) );

	[data-align="wide"],
	[data-align="full"] {

		&,
		.is-style-zigzag {
			--hr_width: none;
		}

	}

}

[data-type="core/separator"] {
	clear: both;
}

#{ $selector_editor_wrapper } .wp-block-separator {
	opacity: 1;

	&[class*="-wide"] {
		--hr_width: #{ $max_width_entry_content };
	}

	&.is-style-dots.has-background::before {
		color: inherit;
	}

}

hr {
	margin-bottom: calc( var(--typography_font_size_base) * #{ $golden } );
}
