/* FILE: content/loop/_header.scss */

.site .posts .entry-media {
	margin-top: calc( -1 * var(--posts_list_entry_padding_vertical) );
	margin-left: calc( -1 * var(--posts_list_entry_padding_horizontal) );
	margin-right: calc( -1 * var(--posts_list_entry_padding_horizontal) );
}
