/* FILE: content/loop/_meta.scss */

.posts .entry-meta {
	order: -5;
	margin-top: 0;
	margin-bottom: $ratio_min +rem;
	opacity: .75;

	&:hover,
	&:focus-within {
		opacity: 1;
	}

	.svg-icon {
		display: none;
	}

}

.posts .has-post-thumbnail .entry-meta {
	margin-top: 1rem;
	margin-bottom: -$ratio_maj +rem;
}
