/* FILE: global/elements/_base.scss */

html {
	border-top: var(--border_decorative_width) solid;
	border-bottom: var(--border_decorative_width) solid;
	border-color: var(--color_border_decorative);
}

body {
	background: var(--color_body_background);
	color: var(--color_body_text);
	border-color: var(--color_body_border);
}

hr {
	clear: both;
	width: 100%;
	max-width: var(--hr_width) !important; // Unfortunately, it's much easier to use important here...
	margin-left: auto;
	margin-right: auto;
	border-width: 0;
	border-bottom: 1px solid;

	&.has-background.has-background {
		background: none;
	}

	&.alignleft,
	&.alignright {
		float: none;
		margin-bottom: calc( var(--typography_font_size_base) * #{ $golden } ); // Simulating rem unit for block editor.
	}

	&.alignleft {
		margin-left: 0;
		margin-right: auto;
	}

	&.alignright {
		margin-left: auto;
		margin-right: 0;
	}

	&[class*="-wide"],
	&.alignwide.alignwide {
		--hr_width: var(--layout_width_content);
		width: 100%;
	}

	&.alignfull.alignfull {
		--hr_width: none;
		width: calc( 100vw - var(--scrollbar_width) );
	}

}

abbr[title],
acronym[title],
dfn {
	cursor: help;
	text-decoration: none;
}

mark,
ins {
	padding: .15em 0;
	margin: 0 .25em;
	box-decoration-break: clone;
}

s,
del {
	text-decoration: line-through;
	color: inherit;
}

audio,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

figcaption {
	font-size: var(--typography_font_size_small);
	text-align: center;
}

img {
	height: auto;
	font-style: italic;
}

pre {
	position: relative;
	padding: 1em;
	font-size: var(--typography_font_size_small);
	overflow: auto;
	tab-size: 2;
	border-width: 1px;
	border-style: solid;
}

menu,
ul,
ol {
	padding: 0;
}

	ul,
	ol {
		margin-#{$left}: $golden +em;
	}

	li > ul,
	li > ol {
		margin-bottom: 0;
	}

	ul {
		list-style: disc;
	}

dl {
	margin-top: 0;
	margin-bottom: .5em;
}

dt {
	margin-top: .5em;
	font-weight: 700;

	&:first-child {
		margin-top: 0;
	}

}

dd {
	margin-#{$left}: 1.5em;
}
