/* FILE: global/elements/_quote.scss */

blockquote {
	clear: both;
	margin-left: 0;
	margin-right: 0;
	font-family: var(--typography_font_alt);
	font-size: 1.25em;
	font-style: italic;
	color: var(--color_body_headings);
	quotes: '“' '”' '‘' '’';

	@include media( map_get( $breakpoint, 'l' ) ) {
		font-size: 1.5em;
	}

	cite {
		font-size: var(--typography_font_size_small);
		font-weight: 400;
	}

		> cite {
			display: block;
			margin-top: calc( var(--typography_font_size_base) * #{ $golden_major } );
		}

	blockquote {
		font-size: 1em;
	}

	p {
		margin-bottom: calc( var(--typography_font_size_base) * #{ $golden_major } );
	}

}

cite {
	font-family: var(--typography_font_global);
	font-style: normal;

	&::before {
		content: '\2014\2002'; // &mdash; + &ensp;
	}

}

q,
blockquote p {

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

	&::before,
	&::after {
		display: inline-block; // Required for correct RTL display.
	}

}
