/* FILE: global/elements/_spacing.scss */

#{ $selectors_margin_bottom } {
	margin-top: 0;
	margin-bottom: calc( var(--typography_font_size_base) * #{ $ratio } ); // Simulating rem unit for block editor.

	&:last-child {
		margin-bottom: 0;
	}

}
