/* FILE: global/elements/_table.scss */

table {
	width: 100%;
	margin: 0 0 ( $golden +em );
	color: inherit; // Required for Chrome browser, for example.
	border-width: 2px;
	border-style: solid;
	border-collapse: collapse;

	+ figcaption {
		margin-top: -1em;
	}

}

caption {
	padding: ( $golden_major +em ) 0;
	text-align: $left;
	font-style: italic;
	caption-side: bottom;
}

th,
td {
	padding: $golden_major +em;
	border-width: 1px;
	border-style: solid;
	vertical-align: top;
}

th,
tfoot td {
	font-weight: 700;
	text-align: $left;
	border-width: 2px;
}
