/* FILE: _custom-properties/_box-model.scss */

:root {

	// White spaces.

		--white_space: 90px;
		@include media( map_get( $breakpoint, 'l' ) ) {
			--white_space: 120px;
		}
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--white_space: 150px;
		}

		--body_padding:  1rem; // Horizontal padding of HTML body.
		--block_padding: 1rem; // Horizontal padding of block content (for Cover/Group block, block with background,...).
		@include media( 500 ) {
			--body_padding:  6vw;
			--block_padding: 30px;
		}
		@include media( map_get( $breakpoint, 'xxl' ) ) {
			--block_padding: 40px;
		}

		--content_padding: var(--white_space);
		--content_padding_negative: calc( -1 * var(--content_padding) );

		--heading_space: calc( var(--white_space) / 2 );

		--column_gap: #{ $ratio +em };
		--wp--style--block-gap: var(--column_gap);

		--posts_list_gap: 1em;
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--posts_list_gap: 2em;
		}

		--posts_list_entry_padding_horizontal: 1.5em;
		--posts_list_entry_padding_vertical: 2em;
		@include media( map_get( $breakpoint, 'xl' ) ) {
			--posts_list_entry_padding_horizontal: 2em;
		}
		@include media(
			( map_get( $breakpoint, 'xxl' ), 'min-width' ),
			( 640, 'min-height' )
		) {
			--posts_list_entry_padding_horizontal: 6vh;
			--posts_list_entry_padding_vertical: 6vh;
		}

		--letter_spacing: .05em;

	// Widths & heights.

		--max_screen_width: 1920px;

		--max_width_header_content: var(--layout_width_content);
		--max_width_footer_content: var(--layout_width_content);

		--border_decorative_width: 10px;

		--hr_width: 13em;
		--hr_height: 2px;

		--hr_zigzag_height: 10px;
		--hr_zigzag_segments: 6;
		@include media( map_get( $breakpoint, 'm' ) ) {
			--hr_zigzag_segments: 10;
		}

		--button_toggle_sub_menu_size: 10px;
		// Touch enabled devices.
		@media (hover: none) {
			--button_toggle_sub_menu_size: 24px;
		}

}

.has-navigation-mobile {
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		--button_toggle_sub_menu_size: 32px;
	}
}
